{% extends "default.twig" %}

{% block subtitle %}
    <section id="sub_title" class="container pb-4 px-4">
        <hr class="sm-hide mt-0">
        <section class="row">
            <div class="col-sm sub_head_item">
                <hr class="sm-show  mt-0">
                <div>
                    <img class="head_item_img" src="/public/img/pictos/plus-o.png" alt="">
                    <span>
                        Ajouté le
                        27/05/2107
                    </span>
                </div>
                <hr class="sm-show">
            </div>
            <div class="col-sm sub_head_item">
                <div>
                    <img class="head_item_img" src="/public/img/pictos/keyboard-o.png" alt="">
                    <span>
                        Dernière modification le
                        10/10/2017
                    </span>
                </div>
                <hr class="sm-show">
            </div>
        </section>
        <hr class="sm-hide">
    </section>
{% endblock %}

{% block view %}
    {% include 'Admin/form.twig' %}
{% endblock %}
