{% extends "default.twig" %}

{% block view %}
    <section id="blog_form" class="py-4 container">
        <form class="col mb-3" action='' method='post'>
            {{ form|raw }}
            <input type="submit" value="Ajouter"/>
        </form>
    </section>
{% endblock %}

{% block scripts %}
    <script src="/public/js/scrollToForm.js"></script>
    <script src="/public/js/blogForm.js" type="text/javascript" async></script>
{% endblock %}
