<div class="container">
    <section class="py-4">
        <form action='' method='post'>
            {{ form|raw }}
            <input type="submit" value="Ajouter"/>
        </form>
    </section>
</div>
