{% extends "default.twig" %}

{% block view %}
	<h1>{{ title }}</h1>
	<form action='' method='post' style="float: left; margin-left: 50px">
		{{ form|raw }}
		<input type="submit" value="Ajouter"/>
	</form>
{% endblock %}
