{% extends "default.twig" %}

{% block view %}
	<h1>Ajouter un article</h1>
	<form action='/admin/ajouter-article' method='post' style="float: left; margin-left: 50px">
		{% if flash is defined %}
			{% if flash.type == 'alert' %}
				<div class="flash alert">{{ flash.content }}</div>	
			{% elseif flash.type == 'success' %}
				<div class="flash success">{{ flash.content }}</div>	
			{% endif %}
		{% endif %}

		{{ form.buildView|raw }}
		<input type="submit" value="Ajouter"/>
	</form>
{% endblock %}
