{% extends "default.twig" %}

{% block subtitle %}
	<section id="sub_title" class="container pb-4">
        <section id="index_pre_head">
            <img id="personal_photo" class="row" src="/public/img/photos/thibaud_lafont.jpg" alt="Photo de Thibaud Lafont">
            <p>Blog de Thibaud Lafont</p>
            <a href="/linkedIn"><img src="/public/img/logos/linkedIn.png" alt="Logo de LinkedIn"></a>
            <a href="/github"><img src="/public/img/logos/github.png" alt="Logo de GitHub"></a>
        </section>
		<hr class="x-sm-hide mt-0">
		<section class="head_blog row no-gutters">
			<div class="col-sm head_blog_item">
				<hr class="x-sm-show  mt-0">
				<div>
					<img class="head_item_img" src="/public/img/pictos/cv.png" alt="">
					<span>
                        Mon CV
                    </span>
				</div>
				<hr class="x-sm-show">
			</div>
			<div class="col-sm head_blog_item">
				<div>
					<img class="head_item_img" src="/public/img/pictos/mail.png" alt="">
					<span>
                        Me contacter
                    </span>
				</div>
				<hr class="x-sm-show">
			</div>
			<div class="col-sm head_blog_item">
				<div>
					<img class="head_item_img" src="/public/img/pictos/info.png" alt="">
					<span>
                        Qui suis-je?
                    </span>
				</div>
				<hr class="x-sm-show mb-0">
			</div>
		</section>
		<hr class="x-sm-hide">
	</section>
{% endblock %}

{% block view %}

    <div class="container">
        <section class="home_section py-4">
            <h3>Me contacter</h3>
            <form action='' method='post'>
                {% if flash is defined %}
                    {% if flash.type == 'alert' %}
                        <div class="flash alert">{{ flash.content }}</div>
                    {% elseif flash.type == 'success' %}
                        <div class="flash success">{{ flash.content }}</div>
                    {% endif %}
                {% endif %}

                {{ form|raw }}
                <input type="submit"/>
            </form>
        </section>
    </div>
    <section id="cv_home_section" class="home_section bg-dark p-4">
        <div class="row">
            <img class="main_img_top col-md-6" src="http://placehold.it/700x300" alt="">
            <div class="col-md-6">
                <div class="home_section_content">
                    <div>
                        <h3>Qui suis-je?</h3>
                        <h4>Un développeur en développement</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea ipsam, quis. Ab ad aspernatur assumenda dicta dolorem laborum, nam optio rerum sed sint sit soluta ut. Dolores iste libero reprehenderit?</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="cv_home_section" class="home_section p-4">
        <div class="row">
            <div class="col-md-6">
                <div class="home_section_content">
                    <div>
                        <h3>Mes expériences</h3>
                        <p class="pb-3">Retrouvez mon CV via l'un des liens ci-dessous</p>
                        <a href="#"><img src="/public/img/logos/linkedIn.png" alt="Logo LinkedIn"></a>
                        <a href="#"><img src="/public/img/pictos/document.png" alt=""></a>
                    </div>
                </div>
            </div>
            <img class="main_img_bottom col-md-6 md-hide" src="http://placehold.it/700x300" alt="">
        </div>
    </section>

{% endblock %}
